.dashboard-container {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 300px; 
  height: 100vh;
  background-color: var(--Tres);
  color: var(--White);
  padding: 1rem;
}

.dashboard-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #08091b;
  display: flex;
  justify-content: center; 
} 