:root{
    --Morado: #31078C;
    --Dos: #2B0973;
    --Tres: #0E0C40;
    --Cuatro:  #0C0d27;
    --White: #F2F2F2;
    --btn1: #966BF2;
    --btn2: #7135F2;
}

header{
    width: 100%;
    color: white;
    position: fixed;
    z-index: 3;
    background-color: #0C0d27;
    top: 0;
}

.navbar{
    width: 100%;
    padding: 1.5rem 6rem;
    height: auto;
    align-items: baseline;
}
body{
    flex-direction: column;
}

.btn-iniciar{
    padding: 0.5rem 2rem ;
    border-radius: 30pt;
    font-size: 14pt;
    background-image: linear-gradient(to right, var(--btn1) , var(--btn2));
    border: none;
    font-weight: 500;
}

@media screen and (max-width: 768px){
    .navbar{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 2rem 2rem;
    }
    
    .btn-iniciar{
        padding: 0.5rem 0.2rem;
        font-size: 12pt;
    }
}
