:root{
    --Morado: #31078C;
    --Dos: #2B0973;
    --Tres: #0E0C40;
    --Cuatro:  #0C0d27;
    --White: #F2F2F2;
    --btn1: #966BF2;
    --btn2: #7135F2;
}


body{
    background-color: var(--Cuatro);
    font-family: "Montserrat", sans-serif;
}

/* Landing.module.css */
.all {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .hero {
    background-color: var(--White);
    padding: 50px 0;
  }
  
  .hero-info {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 8rem;
  }
  
  .btn-prueba {
    background: var(--btn1);
    color: var(--White);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .benefits {
    padding: 50px 0;
  }
  
  /* Estilos adicionales específicos de Landing */
  
  
.hero {width:100%; height:92vh; margin:0 auto; ;}
@keyframes bganimation
{
0%   {
           background-position: 
               -100% -100%,
               200% 200%,
               -100% 200%,
               200% -100%;
      }
      50% {
           background-position: 
               150% 100%,
               -200% 100%,
               100% 0%,
               0% 100%;
      }
      100% {
           background-position: 
               -100% -100%,
               200% 200%,
               -100% 200%,
               200% -100%;
      }
}


.hero {
    background: 
        radial-gradient(ellipse at center, #2b09737b, rgba(0,0,0,0) 70%), /* niebieski */
        radial-gradient(ellipse at center, #31078c79, rgba(0,0,0,0) 70%), /*czerwony */
        radial-gradient(ellipse at center, #0e0c4076 , rgba(0,0,0,0) 70%) /*zielony */
        var(--Cuatro);
    background-repeat: 
        no-repeat, 
        no-repeat, 
        no-repeat;
    background-size: 
        900px 900px,
        900px 900px,
        900px 900px;
    background-attachment: fixed;
    
    animation:bganimation 30s infinite;
}


.hero {
    margin-top: 5rem;
    position: relative; 
  }
  
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), var(--Cuatro));
    pointer-events: none;
  }
  
  .hero::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px; 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--Cuatro));
    pointer-events: none;
  }
  
.hero .contenedor{
    display: flex;
    flex-direction: row;
    top: 20%;
}

.hero-info{
    flex: 2;
    text-align: left;
}

.hero-info h1{
    color: var(--White);
    font-weight: 600;
}

.hero-info p{
    color: var(--White);
    margin-top: 0.5rem;
    font-weight: 500;
}

.hero-image{
    margin-top: 2rem;
    flex: 1;
}

.btn-prueba{
    background-image: linear-gradient(to right, var(--btn1) , var(--btn2));
    color: var(--White);
    border: none;
    border-radius: 30pt;
    padding: 1rem 3rem;
    font-weight: 600;
    font-size: 12pt;
}

.btn-prueba:hover{
    color: white;
}

.benefits{
    color: var(--White);
}

.benefits .container{
    min-height: 30vh;
}

.contenedor{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
    z-index: 2;
}

.planes{
    padding: 2rem 20rem;
    min-height: 60vh ;
    display: flex;
    gap: 100pt;
}

.pricebox{
    flex: 1;
}

.card-body{
    background-color: var(--Cuatro);
    border: none;
}
.card-header{
    background-color: var(--Cuatro);
    border: none;
    font-size: 24pt;
    font-weight: 600;
    margin-top: 1rem;
}

.card-title{
    font-size: 18pt;
    color: #baa6cc;
}

.contenedor h2{
    font-size: 24pt;
    font-weight: 600;
}

.btn-precios{
    border: none;
    border-radius: 30pt;
    padding: 0.7rem 2rem;
    background-image: linear-gradient(to right, var(--btn1) , var(--btn2));
    margin-top: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.card{
    border: 2pt solid; 
    border-image-slice: 1; 
    border-radius: 10pt;
    border-image-source: linear-gradient(45deg, #31078C, #2B0973, #966BF2, #7135F2);
    background-color: var(--Cuatro);
}

.row{
    margin-top: 4rem;
}

.card-body ul{
    width: 70%;
    margin: 0 auto;
}

.caracteristicas img {
    width: 80%;
}

.landing-icons{
    width: 20%;
    margin-bottom: 2rem;
}

.fade-section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.faq-section {
    background: linear-gradient(to right, var(--Tres), var(--Cuatro));
    padding: 4rem 0;
    border-radius: 15px;
}

.faq-title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--White);
    text-align: center;
    margin-bottom: 2rem;
}

.faq-container {
    max-width: 800px;
    margin: 0 auto;
}

.faq-item {
    background: var(--Tres);
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
}


.faq-toggle {
    display: none;
}

.faq-question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--White);
    cursor: pointer;
    background: linear-gradient(to right, var(--btn1), var(--btn2));
    border-radius: 10px;
    transition: all 0.3s ease;
}

.faq-icon {
    font-size: 1.5rem;
    margin-right: 10px;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    background: var(--Cuatro);
    color: var(--White);
    font-size: 1rem;
    padding: 0 20px;
    transition: max-height 0.4s ease-in-out, padding 0.4s ease-in-out;
}

.faq-toggle:checked + .faq-question {
    background: var(--btn2);
}

.faq-toggle:checked + .faq-question + .faq-answer {
    max-height: 200px;
    padding: 15px 20px;
}

.faq-section{
    display: flex;
    height: 100vh;
    align-items: center;
}

.char{
    padding: 2rem 20rem;
}
