.accesos-container {
  width: 50%;
    padding: 2rem;
  }
  
  .accesos-form label {
    display: block;
    font-weight: bold;
    margin-top: 1rem;
    color: var(--White);
  }

  .accesos-container h2{
    color: var(--White);
  }
  
  .accesos-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--Dos);
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .file-upload {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .upload-btn {
    background: var(--btn1);
    color: var(--White);
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .accesos-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  
  .add-btn, .delete-btn {
    padding: 10px 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-btn {
    background: var(--Tres);
    color: var(--White);
  }
  
  .delete-btn {
    background: #f83b3b;
    color: var(--White);
  }
  
  .accesos-list {
    margin-top: 2rem;
  }
  
  .accesos-list table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .accesos-list th, .accesos-list td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .accesos-list th {
    background: var(--btn1);
    color: var(--White);
  }
  